# .gitignore

# Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc.so
*.egg-info/
*.egg
*.cache
*.spec

# Flask specific
instance/

# Virtual environment
venv/
ENV/

# Environment variables file
.env

# IDE and editor files
.vscode/
.idea/

# Log and temporary files
*.log
*.tmp
*.swp
*.swo
